////
// Griss gutters
// v1.0.0 | MIT
//

// Settings
// ---------------------------------------------------------------- //

// Gutters
// -------------------------------------------- //

$griss-gutters: (
  none: (
    keyword: 'n',
    value: 0
  ),
  small: (
    keyword: 's',
    value: 10px
  ),
  medium: (
    keyword: 'm',
    value: 20px
  ),
  large: (
    keyword: 'l',
    value: 30px
  ),
  extra-large: (
    keyword: 'xl',
    value: 40px
  )
) !default;

// Breakpoints
// -------------------------------------------- //

$griss-breakpoints: (
  small: (
    keyword: 's',
    value: 30em
  ),
  medium: (
    keyword: 'm',
    value: 48em
  ),
  large: (
    keyword: 'l',
    value: 64em
  )
) !default;

// Gutters
// ---------------------------------------------------------------- //

@each $gutters, $gutter in $griss-gutters {
  $value: map-get($gutter, value);

  .gs-Grid--gutter\(#{map-get($gutter, keyword)}\) {
    margin-left: $value * -1;

    > .gs-Grid-cell {
      padding-left: $value;
    }
  }
}

@each $breakpoints, $breakpoint in $griss-breakpoints {
  @media (min-width: map-get($breakpoint, value)) {
    @each $gutters, $gutter in $griss-gutters {
      $value: map-get($gutter, value);

      .gs-Grid--gutter\(#{map-get($gutter, keyword)}\)\@#{map-get($breakpoint, keyword)} {
        margin-left: $value * -1;

        > .gs-Grid-cell {
          padding-left: $value;
        }
      }
    }
  }
}
